{% extends "layout.html" %}

{% block title %}
    Bestbooks
{% endblock %}

{% block body %}

    <h1>Bestbooks</h1>

    Logged in as {{ username }}

    <h3>Enter in one of the pieces of information</h3>

    <form action="{{ url_for('search') }}" method="post">

        <div class="form-group">
            <input class="form-control" name="isbn" placeholder="Enter ISBN number"
        </div>

        <div class="form-group">
            <input class="form-control" name="author" placeholder="Enter author's name"
        </div>

        <div class="form-group">
            <input class="form-control" name="title" placeholder="Enter title of book"
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Click to search</button>
        </div>

    </form>

    <b><a href = "{{ url_for('logout') }}">click here to log out</a></b>

{% endblock %}
